In [1]:
import pandas as pd

## Reading a data

In [2]:
df = pd.read_csv("C:/Users/Amrita/OneDrive/Desktop/pokeman.csv", header = 0)  
#*header = None* makes header as first row, 
#index_col healps us to specify a column as index, na_values to specify additional strings to recognize NAN
#Other important parameters are skipinitialspace = False, keep_default_na = True
#reading excel 
#df_1 = pd.read_excel("C:/Users/Amrita/OneDrive/Desktop/pokeman.xlsx")

#tab separated file
#df_2 = pd.read_csv("C:/Users/Amrita/OneDrive/Desktop/pokeman.txt", delimiter = '\t')

In [3]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [4]:
df.tail(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
#read headers
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
#read a specific column
df.Name
df["Speed"][0:5]
df[["Name", "Type 1", "Type 2"]][0:5]

                    Name Type 1  Type 2
0              Bulbasaur  Grass  Poison
1                Ivysaur  Grass  Poison
2               Venusaur  Grass  Poison
3  VenusaurMega Venusaur  Grass  Poison
4             Charmander   Fire     NaN

In [7]:
#read a specific rows
df.iloc[0:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [8]:
#read a specific location
df.iloc[2,1] #row index, column index
df.loc[2,"Name"] #row index, column name

'Venusaur'

## Describing data

In [9]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

## Sorting df

In [11]:
df.sort_values("Name", ascending = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [12]:
df.sort_values(["Name","HP"], ascending = [False,True])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

## Making changes to the data

In [13]:
#adding columns
#df["Total"] = df["HP"]+df["Attack"]+df["Defense"]+df["Speed"]
#df = df.drop(columns = "Total")
df["Total"] = df.iloc[:,3:6].sum(axis = 1) #loc is not working

In [14]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91

In [15]:
#dropping a columne
df = df.drop(columns = "#")

In [16]:
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91

In [17]:
#rearranging columns

In [18]:
cols = list(df.columns.values)

In [19]:
cols

['Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

In [20]:
df = df[cols[0:3] + [cols[-1]] + cols[3:11]]

In [21]:
df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,94,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,122,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,162,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,180,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,91,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,150,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,210,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,190,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,240,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,190,80,110,120,130,90,70,6,True

## Filtering data

In [25]:
filter1 = (df["Type 1"] == "Grass")
df.loc[filter1,:] #iloc is not applicable

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,94,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,122,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,162,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,180,80,100,123,122,120,80,1,False
48,Oddish,Grass,Poison,95,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,Chespin,Grass,NaN,117,56,61,65,48,45,38,6,False
719,Quilladin,Grass,NaN,139,61,78,95,56,58,57,6,False
720,Chesnaught,Grass,Fighting,195,88,107,122,74,75,64,6,False
740,Skiddo,Grass,NaN,131,66,65,48,62,57,52,6,False
741,Gogoat,Grass,NaN,223,123,100,62,97,81,68,6,False

In [30]:
filter2 = (df["Type 1"] == "Grass") & (df["Type 2"] == "Poison")
df.loc[filter2,:] #iloc is not applicable

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,94,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,122,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,162,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,180,80,100,123,122,120,80,1,False
48,Oddish,Grass,Poison,95,45,50,55,75,65,30,1,False
49,Gloom,Grass,Poison,125,60,65,70,85,75,40,1,False
50,Vileplume,Grass,Poison,155,75,80,85,110,90,50,1,False
75,Bellsprout,Grass,Poison,125,50,75,35,70,30,40,1,False
76,Weepinbell,Grass,Poison,155,65,90,50,85,45,55,1,False
77,Victreebel,Grass,Poison,185,80,105,65,100,70,70,1,False
344,Roselia,Grass,Poison,110,50,60,45,100,80,65,3,False
451,Budew,Grass,Poison,70,40,30,35,50,70,55,4,False
452,Roserade,Grass,Poison,130,60,70,65,125,105,90,4,False
651,Foongus,Grass,Poison,124,69,55,45,55,55,15,5,False
652,Amoonguss,Grass,Poison,199,114,85,70,85,80,30,5,False

In [32]:
filter3 = (df["Type 1"] == "Grass") & (df["Type 2"] == "Poison") & (df["HP"] > 70)
new_df = df.loc[filter3,:] #iloc is not applicable

In [35]:
#reseting index 
new_df.reset_index(drop = True,inplace = True)

In [36]:
new_df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Venusaur,Grass,Poison,162,80,82,83,100,100,80,1,False
1,VenusaurMega Venusaur,Grass,Poison,180,80,100,123,122,120,80,1,False
2,Vileplume,Grass,Poison,155,75,80,85,110,90,50,1,False
3,Victreebel,Grass,Poison,185,80,105,65,100,70,70,1,False
4,Amoonguss,Grass,Poison,199,114,85,70,85,80,30,5,False

In [37]:
filter4 = df["Name"].str.contains("Mega")
df[filter4]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,VenusaurMega Venusaur,Grass,Poison,180,80,100,123,122,120,80,1,False
7,CharizardMega Charizard X,Fire,Dragon,208,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,182,78,104,78,159,115,100,1,False
12,BlastoiseMega Blastoise,Water,NaN,182,79,103,120,135,115,78,1,False
19,BeedrillMega Beedrill,Bug,Poison,215,65,150,40,15,80,145,1,False
23,PidgeotMega Pidgeot,Normal,Flying,163,83,80,80,135,80,121,1,False
71,AlakazamMega Alakazam,Psychic,NaN,105,55,50,65,175,95,150,1,False
87,SlowbroMega Slowbro,Water,Psychic,170,95,75,180,130,80,30,1,False
102,GengarMega Gengar,Ghost,Poison,125,60,65,80,170,95,130,1,False
124,KangaskhanMega Kangaskhan,Normal,NaN,230,105,125,100,60,100,100,1,False
137,PinsirMega Pinsir,Bug,Flying,220,65,155,120,65,90,105,1,False
141,GyaradosMega Gyarados,Water,Dark,250,95,155,109,70,130,81,1,False
154,AerodactylMega Aerodactyl,Rock,Flying,215,80,135,85,70,95,150,1,False
163,MewtwoMega Mewtwo X,Psychic,Fighting,296,106,190,100,154,100,130,1,True
164,MewtwoMega Mewtwo Y,Psychic,NaN,256,106,150,70,194,120,140,1,True
168,Meganium,Grass,NaN,162,80,82,100,83,100,80,2,False
196,AmpharosMega Ampharos,Electric,Dragon,185,90,95,105,165,110,45,2,False
224,SteelixMega Steelix,Steel,Ground,200,75,125,230,55,95,30,2,False
229,ScizorMega Scizor,Bug,Steel,220,70,150,140,65,100,75,2,False
232,HeracrossMega Heracross,Bug,Fighting,265,80,185,115,40,105,75,2,False
248,HoundoomMega Houndoom,Dark,Fire,165,75,90,90,140,90,115,2,False
268,TyranitarMega Tyranitar,Rock,Dark,264,100,164,150,95,120,71,2,False
275,SceptileMega Sceptile,Grass,Dragon,180,70,110,75,145,85,145,3,False
279,BlazikenMega Blaziken,Fire,Fighting,240,80,160,80,130,80,100,3,False
283,SwampertMega Swampert,Water,Ground,250,100,150,110,95,110,70,3,False
306,GardevoirMega Gardevoir,Psychic,Fairy,153,68,85,65,165,135,100,3,False
327,SableyeMega Sableye,Dark,Ghost,135,50,85,125,85,115,20,3,False
329,MawileMega Mawile,Steel,Fairy,155,50,105,125,55,95,50,3,False
333,AggronMega Aggron,Steel,NaN,210,70,140,230,60,80,50,3,False
336,MedichamMega Medicham,Fighting,Psychic,160,60,100,85,80,85,100,3,False
339,ManectricMega Manectric,Electric,NaN,145,70,75,80,135,80,135,3,False
349,SharpedoMega Sharpedo,Water,Dark,210,70,140,70,110,65,105,3,False
354,CameruptMega Camerupt,Fire,Ground,190,70,120,100,145,105,20,3,False
366,AltariaMega Altaria,Dragon,Fairy,185,75,110,110,110,105,80,3,False
387,BanetteMega Banette,Ghost,NaN,229,64,165,75,93,83,75,3,False
393,AbsolMega Absol,Dark,NaN,215,65,150,60,115,60,115,3,False
397,GlalieMega Glalie,Ice,NaN,200,80,120,80,120,80,100,3,False
409,SalamenceMega Salamence,Dragon,Flying,240,95,145,130,120,90,120,3,False
413,MetagrossMega Metagross,Steel,Psychic,225,80,145,150,105,110,110,3,False
418,LatiasMega Latias,Dragon,Psychic,180,80,100,120,140,150,110,3,True
420,LatiosMega Latios,Dragon,Psychic,210,80,130,100,160,120,110,3,True
426,RayquazaMega Rayquaza,Dragon,Flying,285,105,180,100,180,100,115,3,True
476,LopunnyMega Lopunny,Normal,Fighting,201,65,136,94,54,96,135,4,False
494,GarchompMega Garchomp,Dragon,Ground,278,108,170,115,120,95,92,4,False
498,LucarioMega Lucario,Fighting,Steel,215,70,145,88,140,70,112,4,False
511,AbomasnowMega Abomasnow,Grass,Ice,222,90,132,105,132,105,30,4,False
527,GalladeMega Gallade,Psychic,Fighting,233,68,165,95,65,115,110,4,False
591,AudinoMega Audino,Normal,Fairy,163,103,60,126,80,126,50,5,False
796,DiancieMega Diancie,Rock,Fairy,210,50,160,110,160,110,110,6,True

In [41]:
filter4 = (df["Name"].str.contains("Mega"))
df[~filter4] # to discard filtered things

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,94,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,122,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,162,80,82,83,100,100,80,1,False
4,Charmander,Fire,NaN,91,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,122,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
794,Zygarde50% Forme,Dragon,Ground,208,108,100,121,81,95,95,6,True
795,Diancie,Rock,Fairy,150,50,100,150,100,150,50,6,True
797,HoopaHoopa Confined,Psychic,Ghost,190,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,240,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,190,80,110,120,130,90,70,6,True

In [44]:
import re

filter5 = df["Name"].str.contains('^pi[a-z]*', flags = re.I, regex = True) #^ specify start of the line
df[filter5]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,Pidgey,Normal,Flying,85,40,45,40,35,35,56,1,False
21,Pidgeotto,Normal,Flying,123,63,60,55,50,50,71,1,False
22,Pidgeot,Normal,Flying,163,83,80,75,70,70,101,1,False
23,PidgeotMega Pidgeot,Normal,Flying,163,83,80,80,135,80,121,1,False
30,Pikachu,Electric,NaN,90,35,55,40,50,50,90,1,False
136,Pinsir,Bug,NaN,190,65,125,100,55,70,85,1,False
137,PinsirMega Pinsir,Bug,Flying,220,65,155,120,65,90,105,1,False
186,Pichu,Electric,NaN,60,20,40,15,35,35,60,2,False
219,Pineco,Bug,NaN,115,50,65,90,35,35,15,2,False
239,Piloswine,Ice,Ground,200,100,100,80,60,60,50,2,False
438,Piplup,Water,NaN,104,53,51,53,61,56,40,4,False
558,Pignite,Fire,Fighting,183,90,93,55,70,55,55,5,False
578,Pidove,Normal,Flying,105,50,55,50,36,30,43,5,False

## Conditional changes

In [49]:
filter6 = df["Type 1"] == "Fire"

#df.loc[filter6,"Type 1"] = "Flame"

filter7 = df["Type 1"] == "Flame"
df.loc[filter7,["Generation","Legendary"]] = ["tv1","tv2"]
df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,94,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,122,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,162,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,180,80,100,123,122,120,80,1,False
4,Charmander,Flame,NaN,91,39,52,43,60,50,65,tv1,tv2
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,150,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,210,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,190,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,240,80,160,60,170,130,80,6,True
799,Volcanion,Flame,Water,190,80,110,120,130,90,70,tv1,tv2

## Group by

In [55]:
df.groupby("Type 1").mean().sort_values("Defense", ascending = False)

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Steel,157.925926,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Rock,158.227273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Dragon,195.437500,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Ground,169.531250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Ghost,138.218750,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Water,146.214286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ice,144.750000,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Grass,140.485714,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Bug,127.855072,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Dark,155.193548,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Poison,141.928571,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Flame,154.673077,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Psychic,142.087719,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Electric,128.886364,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Flying,149.500000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Fighting,166.629630,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Fairy,135.647059,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Normal,150.744898,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020

In [56]:
df_new = df.groupby("Type 1")["HP"].mean().reset_index()

In [57]:
df_new

      Type 1         HP
0        Bug  56.884058
1       Dark  66.806452
2     Dragon  83.312500
3   Electric  59.795455
4      Fairy  74.117647
5   Fighting  69.851852
6      Flame  69.903846
7     Flying  70.750000
8      Ghost  64.437500
9      Grass  67.271429
10    Ground  73.781250
11       Ice  72.000000
12    Normal  77.275510
13    Poison  67.250000
14   Psychic  70.631579
15      Rock  65.363636
16     Steel  65.222222
17     Water  72.062500

## Exporting to csv

In [ ]:
df.to_csv("C:/Users/Amrita/OneDrive/Desktop/pokeman.csv", index = False)